@import 'variables';
@import 'queries';

@for $i from 1 through 12 {
  .col-#{$i} {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    width: (100%/ 12) * $i;
    @include phone-only {
      @if $i >= 5 {
        width: 100%;
      }
    }
  }
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}
.justify-content-center {
  justify-content: center;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 860px;
  display: flex;
  min-height: 99vh;
  flex-direction: column;
  padding: 0;
  padding-top: map-get($spacers, 6) * 2;
  box-sizing: border-box;
  @include phone-only {
    padding-left: map-get($spacers, 5);
    padding-right:  map-get($spacers, 5);
  }
}

h1 {
  font-size: 72px;
  text-transform: uppercase;
}