@mixin phone-only {
  @media only screen and (max-width: 599px) {
    @content;
  }
}
@mixin desktop-only {
  @media only screen and (min-width: 960px) {
    @content;
  }
}

@mixin large-desktop-only {
  @media only screen and (min-height: 800px) {
    @content;
  }
}
