@use '../utils';

.container {
	position: relative;
	margin: 0 auto;
	max-width: map-get(utils.$breakpoints, 'md');
	display: flex;
	flex-direction: column;
	padding: 0;
	box-sizing: border-box;
	@include utils.breakpoint-down('md') {
		margin-left: utils.spacing(2);
		margin-right: utils.spacing(2);
	}
}
