@import '~assets/scss/queries';
@import '~assets/scss/variables';

.posts-container {
  display: flex;
  height: 100%;
  & .title {
    align-items: flex-end;
    & h1 {
      letter-spacing: map-get($spacers, 3);
      text-align: right;
    }
    & hr {
      width: 50%;
      margin: 0;
      margin-bottom: map-get($spacers, 4);
    }
  }
  & .row {
    flex-wrap: nowrap;
    flex: 1;
    @include phone-only {
      flex-direction: column;
    }
  }
  & .posts {
    overflow: auto;
    border: 2px solid white;
    box-sizing: border-box;
    align-self: stretch;
    @include phone-only {
      padding: 0;
      margin-left: 0;
      flex: 1;
    }
    .no-posts-message {
      font-family: 'B612 Mono', monospace;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      align-items: center;
    }
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
  }
}
