@import '~assets/scss/variables';

.post {
  display: block;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  transition: ease-in 0.2s;
  & .post-info {
    display: flex;
    flex-direction: column;
  }
  & .post-tags {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    & .post-tag {
      font-family: 'B612 Mono', monospace;
      &::before {
        content: '#'
      }
    }
  }

  & .post-footer {
    display: flex;
  }
}