@import '~assets/scss/variables';
@import '~assets/scss/queries';

.about-container {
  & a {
    font-weight: bold;
  }
  & h4 {
    font-family: 'B612 Mono', monospace;
    @include phone-only {
      margin-top: map-get($spacers, 4);
    }
  }
  & p {
    font-family: 'B612 Mono', monospace;
    line-height: 1.5;
  }
  & .info {
    font-family: 'B612 Mono', monospace;
  }
  & .title {
    align-items: flex-end;
    & h1 {
      letter-spacing: map-get($spacers, 3);
      text-align: right;
    }
    & hr {
      width: 50%;
      margin: 0;
      margin-bottom: map-get($spacers, 4);
    }
  }

  .icon-link {
    font-size: 0.75rem;
  }

  @include phone-only {
    .skills {
      padding-left: 0;
    }
    .info {
      padding-left: 0;
      padding-bottom: map-get($spacers, 4);
    }
    .text {
      padding-left: 0;
    }
  }
}
