@import '~assets/scss/variables';

.about-container {
  & .title {
    align-items: flex-end;
    & h1 {
      letter-spacing: map-get($spacers, 3);
      text-align: right;
    }
    & hr {
      width: 50%;
      margin: 0;
      margin-bottom: map-get($spacers, 4);
    }
  }
}