@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');
@import './assets/scss/grid';
@import './assets/scss/spacing';
@import './assets/scss/anchor';
@import './assets/scss/queries';

* {
  outline: none;
}

html {
  @include phone-only {
    font-size: 14px;
  }
  height: 100%;
}

footer {
  height: 300px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: black;
}