@import '~assets/scss/variables';

.header {
  position: fixed;
  display: flex;
  z-index: 2;
  top: 0;
  justify-items: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: black;
  font-family: 'B612 Mono', monospace;
  color: white;
  & .logo {
    font-size: 1.2rem;
  }
  & h1 {
    background: black;
    letter-spacing: map-get($spacers, 3);
    z-index: 1;
  }
}
